{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/guestPerfileUserJs.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div id="i5c3" class="container"> 
  <inpu type="hidden" id="idUserId" value="{{ user.id }}" />
	<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img" id="pictureUser">
                          {% if ifPicture == 0 %}
                            <img height="180px" width="180px" src="{% static 'images/avatar-male.jpg' %}" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="" id="perfileFoto"/>
                            </div>
                          {% else %}
                            {% for picturePerfile in picture%}
                              <img height="180px" width="180px" src="/media/{{ picturePerfile.detalles_usuario_foto }}" alt=""/>
                              <div class="file btn btn-lg btn-primary">
                              Change Photo
                              <input type="file" name="{{ picturePerfile.id }}" id="perfileFoto"/>
                              </div>
                            {% endfor %}
                          {% endif %}
                        </div>
                    </div>
                  <div class="col-md-6">
                        <div class="profile-head">
                          <h5> {{ user.username }}</h5>
<p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a style="color: #393939" class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mis datos</a>
                                </li>
                                <li class="nav-item">
                                    <a style="color: #393939" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Reservas</a>
                                </li>
								<li class="nav-item">
								<a style="color: #393939" class="nav-link" id="casas-tab" data-toggle="tab" href="#casas" role="tab" aria-controls="casas" aria-selected="false">Casas</a>
								</li>
								<li class="nav-item">
								<a style="color: #393939" class="nav-link" id="tarjetas-tab" data-toggle="tab" href="#tarjetas" role="tab" aria-controls="tarjetas" aria-selected="false">Tarjetas</a>
								</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-4"> </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Nombre de usuario</label>
                                            </div>
                                            <div class="col-md-6">
                                              <p>{{ user.username }}</p>
                                            </div>
                                        </div>
                              <div class="row">
                                            <div class="col-md-6">
                                              <label>Nombre</label>
                                            </div>
                                            <div class="col-md-6">
                                              <p>{{ user.first_name|title }}</p>
                                  </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Apellidos</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.last_name|title }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Correo</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ user.email }}</p>
                                            </div>
                                        </div>
                                        
                            </div>
                          <div style="color: #000000"class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            {% for datosReserva in reservas %}
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Reserva</label>
                                            </div>
                                            <div class="col-md-6">
                                              <a href="#" style="color: #C43F41">{{ datosReserva.residencia_nombre }}</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label></label>
                                            </div>
                                            <div class="col-md-6">
                                              <p>			    				<button type="button" class="btn btn-sm" style="background: #E16668; color: #FFFFFF; width: 135px;">Cancelar</button></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            
                                        </div>
                          {% endfor %}     
                            </div>
							 <div style="color: #000000"class="tab-pane fade" id="casas" role="tabpanel" aria-labelledby="casas-tab">
                  <div id="divCasas">
                            {% for datosCasas in casas %}
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Casa {{ datosCasas.id }}</label>
                                            </div>
                                            <div class="col-md-6">
                                              <a href="/guest/recidencia/edit/{{ datosCasas.id }}/" style="color: #C43F41">Casa {{ datosCasas.residencia_nombre }}</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label></label>
                                            </div>
                                            <div class="col-md-6" id="divEliminarCasas">
                                              <p><button name="{{ datosCasas.id }}" type="button" class="btn btn-sm eliminarCasa" style="background: #E16668; color: #FFFFFF; width: 135px;">Eliminar</button></p>
                                            </div>
                                        </div>
                            {% endfor %} 
                            </div>     
                            </div>
							<div style="color: #000000"class="tab-pane fade" id="tarjetas" role="tabpanel" aria-labelledby="tarjetas-tab">
                            {% for datosTarjeta in tarjetas %}
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label>Tarjeta {{ datosTarjeta.pagos_nombre_propietario }} </label>
                                            </div>
                                            <div class="col-md-6">
                                              <a href="#" style="color: #C43F41">{{ datosTarjeta.pagos_num_tarjeta }}</a>
												
                                            </div>
											
                                        </div>
								
                                        <div class="row">
                                            <div class="col-md-6">
                                              <label></label>
                                            </div>
                                            <div class="col-md-6">
                                              <p>			    				<button type="button" class="btn btn-sm" style="background: #E16668; color: #FFFFFF; width: 135px;">Eliminar</button></p>
                                            </div>
                                        </div>
                            {% endfor %}

                                            <div class="col-md-6">
                                              <label></label>
                                            </div>
                                            <div class="col-md-6">
                                              <p>			    				<button type="button" class="btn btn-sm" style="background: #E16668; color: #FFFFFF; width: 135px;">Agregar tarjeta</button></p>
                                            </div>
                                        </div>
                        </div>
                    </div>
                </div>
				
            </form>           
        </div>
	
	
</div>
{% endblock %}