{% extends "base.html" %}
{% load static %}

{% block javascript %}
<script src="{% static 'js/guestRecoveryPasswordJs.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div id="i5c3" class="container"> 
  <div id="mensajeError"></div>
  <div class="row"> <table width="300" height="200" border="0" align="center">
  <tbody>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><h3>Restablecer contraseña</h3></td>
    </tr>
	  <div></div>
    <tr>
	  <td>
        <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email"></td>
    </tr>
        
    <tr>
      <td><button id="recoveryPassword" type="button" class="btn btn-sm" style="background: #D85B5D; color: #FFFFFF; width: 300px;">Restablecer</button></td>
    
	  
  </tbody>
</table>
</div>
</div>
{% endblock %}